/* 
* Google Fonts

* BASIC STYLE
  - General Style    
  - Headings Style    
  - Button Style    
  - Form Style    
  - Spacer Style
  - Table Style

* HEADER

* CONTANT
  - Banner Style
  - Featured Products section
  - offer Banner section
  - Best Seller section
  - Testimonial section
  - Latest Blog section
  - Brand slaider section
  - Newslatter section
  - Shop Page
  - Shop List Page
  - Product Detail Page
  - Check Page
  - Wishilist Page
  - Contact Page
  - Blog Left Page
  - Blog Detail Page
  - Cart Page
  - About Page
  - Login Page

* FOOTER
*/


/*--------- Banner Css ---------*/
.home-banner {
  position: relative;
}
.banner-bg {
  background: #f5f5f5;
  height: 700px;
  overflow: hidden;
}
.banner-img img {
  width: 100%;
}
.banner-top {
  font-size: 50px;
  color: #2d3031;
  font-weight: 300;
  text-transform: uppercase;
}
.banner-top span {
  color: #327bfa;
}
.banner-title {
  font-size: 100px;
  color: #2d3031;
  font-weight: 900;
  text-transform: uppercase;
}
.banner-title span {
  color: #979797;
}
.banner-sub {
  font-size: 14px;
  color: #2d3031;
  margin-bottom: 30px;
}
.slider-counter {
  position: absolute;
  bottom: 70px;
  left: 50%;
  z-index: 1;
  transform: translate(-50%);
  font-size: 14px;
  color: #363535;
}
.banner-heading {
  padding-right: 15px;
}
.home-banner .owl-dots {
  padding-top: 0;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
}
.active .banner-top {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.5s;
}
.active .banner-title {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.5s;
}
.active .banner-sub {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.8s;
}
.active .banner-heading .btn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 1s;
}

/*----------- Featured Products Style -------------*/
.product-isotop {
  margin-top: 10px;
  display: block;
  border: 0;
}
.product-isotop li {
  display: inline-block;
}
.product-isotop li a {
  display: inline-block;
  font-size: 16px;
  color: #979797;
  font-weight: 700;
  padding: 0px 18px;
  cursor: pointer;
}
.product-isotop li:first-child a {
  padding-left: 0;
}
.product-isotop li:last-child a {
  padding-right: 0;
}
.product-isotop li a.active {
  color: #2d3031;
}
.product-isotop li a:hover {
  color: #2d3031;
}
.featured-product {
  flex: 0 0 20%;
  max-width: 20%;
  padding: 0px 15px;
}
.product-img {
  border: 10px solid #f5f5f5;
  overflow: hidden;
  position: relative;
}
.featured-product:hover .product-img {
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0, 0.2);
}
.product-img a {
  display: block;
}
.product-name {
  display: block;
  font-size: 16px;
  color: #2d3031;
  line-height: 20px;
}
.product-pricce {
  font-size: 18px;
  color: #979797;
  font-weight: 700;
}
.product-details-btn {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  background: #2d3031;
  padding: 10px 10px;
  visibility: hidden;
  opacity: 0;
}
.product-details-btn a {
  color: #fff;
}
.featured-product:hover .product-details-btn {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}
.product-details-btn:hover {
  background: #000;
}
.new-label,
.sale-label {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #363535;
  padding: 0px 8px;
  font-size: 12px;
  color: #fff;
}
.sale-label {
  right: 5px;
  left: unset;
  background: #f22a59;
}
.featured .tab-content > .active {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/*----------- offer Banner Style -------------*/
.offer-banner {
  padding-top: 75px;
}
.offer-bg {
  background-image: url(../images/banner-3.jpg);
  padding-left: 10px;
  padding-right: 10px;
}
.offer-bg .banner-top span {
  color: #ea2658;
}

/*----------- Best Seller Style -------------*/
.seller-img {
  width: 85px;
  float: left;
  border: 5px solid #f5f5f5;
}
.seller-img a {
  overflow: hidden;
}
.seller-img:hover img {
  transform: scale(1.2) rotate(10deg);
}
.seller-contain {
  width: calc(100% - 85px);
  float: left;
}
.offer-week {
  background: #f5f5f5;
  padding: 40px;
}
.week-img {
  background: #fff;
}
.week-img:hover {
  box-shadow: 0px 0px 15px 1px rgb(0, 0, 0, 0.2);
}
.week-head {
  font-size: 25px;
  font-weight: 700;
  color: #2d3031;
}
.week-sub {
  font-size: 18px;
  color: #2d3031;
}
.price-r,
.price-o {
  font-size: 18px;
  color: #979797;
  text-decoration: line-through;
  font-weight: 700;
}
.price-o {
  color: #2d3031;
  text-decoration: unset;
}
.star-rating {
  direction: rtl;
}
.star-rating input[type="radio"] {
  display: none;
}
.star-rating label {
  color: #bbb;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #f2b600;
}
.countdown li {
  display: inline-block;
  margin: 0px 8px;
}
.counter-timer {
  border: 1px solid #e4e4e4;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  font-size: 24px;
  color: #2d3031;
  font-weight: 700;
}
.day-name {
  font-size: 14px;
  color: #2d3031;
  padding-top: 5px;
}

/*----------- Testimonial Style -------------*/
.team-inner {
  border: 30px solid #f5f5f5;
  padding: 130px 20px 70px 20px;
}
.team-img {
  width: 124px;
  height: 124px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 22px;
}
.team-img img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-name {
  font-size: 18px;
  color: #979797;
}
.quote-c {
  background: #979797;
  width: 40px;
  height: 40px;
  line-height: 43px;
  border-radius: 100%;
  position: absolute;
  bottom: -10px;
  right: 8px;
  color: #fff;
  font-size: 22px;
}
.member-detail {
  color: #979797;
  font-weight: 300;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 40px;
}
label.member-name {
  font-size: 18px;
  color: #979797;
  font-weight: 700;
}

/*----------- Latest Blog Style -------------*/
.lat-blog-title {
  font-size: 18px;
  color: #2d3031;
  display: block;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lat-blog-date {
  font-size: 13px;
  color: #2d3031;
  display: block;
  margin: 0;
}
.lat-blog-date span {
  font-weight: 600;
}
.lat-blog-detail {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  padding-top: 10px;
  max-height: 60px;
  overflow: hidden;
}
.latest-blog .owl-nav button {
  top: -53px;
  transform: unset;
  font-size: 25px !important;
  color: #dfdfdf !important;
  width: 25px;
  height: 25px;
  border: 1px solid #dfdfdf !important;
  background: transparent !important;
}
.latest-blog .owl-nav button:hover {
  border: 1px solid #2d3031 !important;
  color: #2d3031 !important;
}
.latest-blog button.owl-next:before {
  position: relative;
  top: -1px;
  left: 2px;
}
.latest-blog button.owl-prev {
  right: 35px;
  left: unset;
}
.latest-blog-img {
  position: relative;
  overflow: hidden;
}
.latest-blog-img::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.latest-blog-img:hover::before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

/*----------- Brand Style -------------*/
.brand-box a {
  display: inline-block;
}
.brand-box img:hover {
  opacity: 0.5;
}
.brand .owl-carousel .owl-item img {
  width: unset;
  margin: auto;
}
.brand .owl-nav button {
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px !important;
  color: #fff !important;
  width: 35px;
  height: 45px;
}
.brand button.owl-next:before {
  position: relative;
  top: -1px;
  left: 2px;
}
.brand-box {
  padding: 0px 15px;
}
.brand .owl-stage {
  display: flex;
  align-items: center;
}

/*----------- Newsletter Style -------------*/
.newsletter-inner {
  background: #f5f5f5;
}
.newsletter-title {
  font-size: 40px;
  color: #363535;
  font-weight: 700;
  padding-bottom: 15px;
}
.newsletter-sub {
  font-size: 16px;
  color: #999999;
  font-weight: 300;
  margin-bottom: 40px;
}
.newsletter form {
  max-width: 630px;
  margin: 0 auto;
  position: relative;
}
.newsletter-inner {
  padding-left: 10px;
  padding-right: 10px;
}
.newsletter .form-control {
  font-size: 14px;
  color: #363535;
  font-weight: 300;
  height: 50px;
  padding: 0px 170px 0px 35px;
  border: 1px solid #e6e6e6;
  border-radius: 50px;
}
.newsletter .form-group {
  margin: 0;
}
.newsletter .form-btn {
  color: #fff;
  background: #363535;
  border: 1px solid #363535;
  height: 50px;
  border-radius: 50px;
  width: 165px;
  position: absolute;
  top: 0;
  right: 0;
}
.newsletter .form-btn:hover {
  color: #363535;
  background: transparent;
}
.icon-r {
  display: none;
}

/*_______________________________________________________
// SHOP PAGE  //----------------------------
_________________________________________________________*/

/*------- Page Banner Style ----------*/
.page-banner-in {
  background: #ebebeb;
  padding: 86px 65px;
}
.page-banner-title {
  font-size: 24px;
  color: #363535;
  font-weight: 600;
}
.page-banner ul li {
  display: inline-block;
  font-size: 18px;
  color: #363535;
  padding: 0px 10px;
  position: relative;
  font-weight: 500;
}
.page-banner ul li:after {
  content: "";
  position: absolute;
  top: 3px;
  width: 1px;
  height: 18px;
  background: #363535;
  right: -1px;
  transform: rotate(20deg);
}
.page-banner ul li:last-child:after {
  content: unset;
}
.page-banner ul li a {
  color: #363535;
}
.page-banner ul li a:hover {
  color: #999999;
}

/*------- Sidebar Style ----------*/
.sidebar-default {
  border: 1px solid #e5e5e5;
  padding: 26px 30px;
}
.cat-title {
  color: #2a2b2c;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}
.category li {
  padding: 5px 0px;
  position: relative;
}
.category li:first-child {
  padding-top: 0;
}
.category li:last-child {
  padding-bottom: 0;
}
.category li a {
  font-size: 14px;
  color: #999999;
  display: block;
}
.category li a:hover {
  color: #000;
}
.category li.active a {
  color: #000;
}
.category ul {
  padding: 15px 0px 5px 30px;
}
.category-sub {
  display: none;
}
.category .opener {
  display: block !important;
  color: #999999;
  position: absolute;
  top: 1px;
  right: 0;
  font-size: 11px;
}
.category .opener.plus:before {
  content: "\f067";
  font-family: fontawesome;
}
.category .opener.minus:before {
  content: "\f068";
  font-family: fontawesome;
}
.sidebar .btn-filter {
  font-size: 12px;
  text-transform: none;
  background: #dadada;
  border: unset;
  margin-bottom: 20px;
}
.sidebar .btn-filter span {
  margin-left: 5px;
}
.filter-by {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.filter-by:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
.checkbox + label.beige::before {
  background: #e9e99d none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox + label.white::before {
  background: #fff none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox + label.black::before {
  background: #0d0d0d none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox + label.orange::before {
  background: #f39c11 none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox + label.blue::before {
  background: #5d9cec none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox + label.green::before {
  background: #83c53c none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox + label.yellow::before {
  background: #f9cc16 none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox + label.pink::before {
  background: #f8989d none repeat scroll 0 0 !important;
  border-color: #d5d5d5;
}
.checkbox:checked + label.white::after {
  background-image: url(../images/check-box-icon-2.png);
}
.latest-prod {
  margin-bottom: 20px;
}
.product-list .featured-product {
  flex: 0 0 25%;
  max-width: 25%;
}

/* - Sorting CSS //---------------- */
.shorting {
  border: 1px solid #e5e5e5;
  padding: 9px 20px;
}
.list-types {
  display: inline-flex;
  margin: 3px 0px 0;
  padding: 0 5px;
}
.list-types.grid {
  padding-left: 0;
}
.list-types.list {
  padding-right: 0;
}
.list-types-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  font-size: 25px;
  color: #969797;
}
.active .list-types-icon {
  color: #363535;
}
.list-types-icon:hover {
  color: #363535;
}
.list-types a {
  display: inline-flex;
}
.shorting select {
  font-size: 14px;
  max-width: 150px;
  padding: 7px 40px 7px 15px;
  border: 1px solid #e5e5e5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/select-icon.png) no-repeat scroll right 50% #fff;
  color: #999999;
}
.short-by {
  float: left;
  width: calc(100% - 78px);
}
.shorting .view {
  width: 78px;
  float: left;
}
.select-item {
  display: inline-block;
}
.short-by > span {
  float: left;
  margin: 5px 5px 3px;
  font-size: 14px;
  color: #999999;
}
.show-item > span {
  float: left;
  margin: 9px 10px 3px;
  font-size: 14px;
  color: #999999;
}
.show-item {
  display: inline-block;
  padding-left: 10px;
}
.show-item:first-child {
  padding-left: 0;
}
.compare {
  float: right;
}
.compare .btn {
  padding: 9px 8px;
  font-weight: 500;
  text-transform: none;
  font-size: 14px;
}
.pagination-bar ul {
  display: inline-flex;
}
.pagination-bar ul li {
  float: left;
  margin: 0 2px;
}
.pagination-bar ul li a {
  background: #dcdcdc;
  color: #333;
  height: 35px;
  width: 35px;
  display: inline-block;
  line-height: 35px;
  text-align: center;
}
.pagination-bar ul li.active a,
.pagination-bar ul li a:hover {
  background: #363535;
  color: #fff;
}
.pagination-1 {
  padding: 10px;
}

/*_______________________________________________________
// SHOP List PAGE  //----------------------------
_________________________________________________________*/
.product-list .featured-product-list {
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
.featured-product-list .product-img {
  width: 330px;
  float: left;
}
.featured-product-list .product-desc {
  width: calc(100% - 330px);
  padding-left: 30px;
  float: left;
  margin-bottom: 15px;
}
.product-detail-desc {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 300;
  margin-top: 10px;
}
.product-action {
  margin-top: 30px;
}
.product-action li {
  display: inline-block;
  padding: 0px 8px;
}
.product-action li:first-child {
  padding-left: 0;
}
.product-action li:last-child {
  padding-right: 0;
}
.product-action .btn span {
  position: relative;
  top: 3px;
  padding-left: 10px;
}
.product-action .btn {
  height: 50px;
  width: 50px;
  padding: 0;
  line-height: 50px;
  font-size: 20px;
  color: #999999;
}
.product-action .btn:before {
  content: unset;
}
.product-action .btn-color {
  font-size: 14px;
  width: 200px;
  color: #fff;
  line-height: 43px;
}
.product-action .btn:hover {
  background: #000;
  color: #fff;
}

/*_______________________________________________________
// PRODUCT DETAIL PAGE  //----------------------------
_________________________________________________________*/

/* Product Zoom Slider start */
.glass-case,
.gc-display-area,
.gc-display-container,
.gc-display-container img {
  width: 100% !important;
  height: auto !important;
}
.gc-display-area {
  border: 30px solid #ffffff;
}
.gc-display-area,
.gc-display-container {
  position: relative !important;
  top: auto !important;
  left: auto !important;
  margin: 0 !important;
  z-index: 1;
}
.gc-thumbs-area {
  width: calc(100% - 150px) !important;
  display: inline-block;
}
.gc-thumbs-area {
  position: relative;
  top: auto !important;
  left: auto !important;
  margin-top: 10px;
}
.glass-case ul li .gc-li-display-container img {
  margin: 0 !important;
  top: auto !important;
  left: auto !important;
}
.gc-thumbs-area-main {
  position: relative;
  z-index: 1;
  max-width: 500px;
  text-align: center;
  margin: auto;
}
.gc-thumbs-area-prev,
.gc-thumbs-area-next {
  top: 50%;
}
.gc-thumbs-area-prev {
  left: 0;
}
.gc-thumbs-area-next {
  right: 0;
}
.gc-icon-next,
.gc-icon-prev {
  border: none;
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
}
.gc-icon:hover {
  background: #363535;
}
.gc-icon-next::before,
.gc-icon-prev::before {
  color: #333;
  top: 50%;
  right: auto;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.gc-icon:hover:before {
  color: #fff;
}
.gc-icon:before {
  font-family: "FontAwesome";
}
.gc-icon-prev::before {
  content: "\f104";
}
.gc-icon-next::before {
  content: "\f105";
}
.gc-overlay-area [class*="gc-icon-"] {
  background: #fff;
  border: none;
}
.gc-overlay-area [class*="gc-icon-"]:hover {
  background: #f22a59;
}
.gc-overlay-area .gc-overlay-top-icons [class*="gc-icon-"]:hover {
  background: #fff;
}
.gc-overlay-area .gc-overlay-top-icons .gc-icon {
  height: 35px;
  width: 35px;
}
.gc-overlay-area .gc-overlay-top-icons [class*="gc-icon-"]:before {
  content: "";
  height: 20px;
  width: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  right: auto;
  top: 50%;
}
.gc-overlay-area .gc-icon-close:before {
  background: url("../images/sprite.png") -53px -1375px;
}
.gc-overlay-area .gc-icon-compress::before {
  background: url("../images/sprite.png") -55px -1441px;
}
.gc-overlay-area .gc-icon-enlarge::before {
  background: url("../images/sprite.png") -55px -1412px;
}
.gc-zoom {
  z-index: 1 !important;
}
.glass-case ul li.gc-active,
.glass-case ul li.gc-active:hover {
  border-color: #ffffff;
}

.product-item-name {
  font-size: 24px;
  color: #2d3031;
  margin-bottom: 5px;
}
.price-box .price {
  font-size: 18px;
  color: #363535;
  font-weight: 700;
}
.price-box .old-price {
  font-size: 14px;
  font-weight: 500;
  padding-left: 10px;
  color: #979797;
}
.star-rating {
  direction: rtl;
  display: inline-block;
  padding: 15px 20px 0px 0px;
}
.star-rating input[type="radio"] {
  display: none;
}
.star-rating label {
  color: #bbb;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type="radio"]:checked ~ label {
  color: #f2b600;
}
.product-des {
  margin-top: 12px;
}
.rating-summary-block span {
  transition: all 400ms ease;
}
.rating-summary-block span:hover {
  color: #000;
}
.product-detail-in ul {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
}
.product-detail-in ul li i {
  color: #363535;
}
.table-listing label {
  width: 100px;
  float: left;
  padding-top: 7px;
}
.fill-input {
  width: calc(100% - 100px);
  float: left;
}
.cou-sub {
  background: transparent;
  float: left;
  border: 1px solid #e5e5e5;
  font-size: 18px;
  width: 35px;
  height: 35px;
  padding: 0;
  position: relative;
}
.fill-input .input-text.qty {
  width: 40px;
  height: 35px;
  padding: 0;
}
.fill-input .input-text.qty[type="number"]::-webkit-inner-spin-button,
.fill-input .input-text.qty[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}
.table-listing.qty {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  max-width: 700px;
}
.table-listing.qty:last-child {
  margin-bottom: 0;
}
select.full {
  width: 100%;
}
.table-listing.qty select {
  border: 1px solid #e5e5e5;
  height: 40px;
  padding: 0px 10px;
  background: url(../images/select-icon.png) no-repeat scroll right 50% #fff !important;
  -webkit-appearance: none;
  appearance: none;
}
.price-box .product-action {
  margin-top: 2px;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}
.price-box .product-action .btn {
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.price-box .product-action img {
  width: 20px;
}
.price-box .product-action .btn-color {
  width: 160px;
  line-height: 35px;
}
.product-review-des > .product-review-des {
  padding: 0;
}
.review-tab li {
  display: inline-block;
}
.review-tab li a {
  font-size: 16px;
  color: #333333;
  font-weight: 700;
  padding: 23px 40px;
  display: block;
}
.review-tab li a.active {
  background: #f5f5f5;
}
.review-tab li:first-child a {
  padding-left: 30px;
}
.product-review-des {
  background: #f5f5f5;
  padding: 30px 30px;
}
.product-review-des h2 {
  font-size: 18px;
  color: #333333;
  font-weight: 600;
  padding-bottom: 10px;
}
.product-review-des p {
  font-size: 14px;
  color: #888888;
  font-weight: 300;
}
.product-review-des ul li {
  font-size: 14px;
}
.product-review-des ul {
  border-bottom: 0;
  padding-bottom: 0;
}
.related-title {
  font-size: 24px;
  color: #333333;
  margin-bottom: 15px;
}
.comment-part h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.comment-part h2 {
  font-size: 24px;
  margin-bottom: 30px;
}
.comment-part ul ul {
  margin-left: 70px;
  width: 100%;
}
.comment-part ul > li {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.comment-part ul > li:first-child {
  border: none;
  padding-top: 0;
  margin-top: 0;
}
.comment-user {
  float: left;
  margin-right: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
}
.comment-detail {
  padding-right: 90px;
  width: calc(100% - 120px);
  float: left;
}
.comment {
  display: inline-block;
  width: 100%;
}
.comment .comment-detail {
  padding-right: 0;
}
.commenter span {
  color: #333;
  font-weight: 600;
}
.comment-detail p {
  margin-bottom: 0;
}
.comment-detail .reply-btn {
  position: absolute;
  right: 0;
  top: 50%;
  text-transform: none;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.comment-detail .reply-btn:before {
  content: unset;
}
.comment-detail .reply-btn:hover {
  background: #000;
}
.post-comm {
  background: #333333;
  color: #fff;
  padding: 15px 20px;
}
.post-comm:before {
  content: unset;
}
.post-comm:hover {
  background: #000;
}

/*_______________________________________________________
// CHECKOUT PAGE  //----------------------------
_________________________________________________________*/
.checkout-form .form-group {
  margin-bottom: 25px;
}
.checkout-title {
  font-size: 24px;
  color: #363535;
}
.checkout-form .checkbox + label {
  font-size: 14px;
  color: #363535;
}
.your-order .seller-box {
  border-bottom: 1px solid #dedede;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.your-order .seller-box:last-child {
  margin-bottom: 0;
}
.checkout-qty label {
  font-size: 14px;
  color: #888888;
}
.checkout-qty .info-deta {
  font-size: 14px;
  color: #363535;
  padding-left: 2px;
}
.subtotal-main {
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
}
.subtotal-head {
  background: #e5e5e5;
  padding: 18px 30px;
}
.subtotal-head label {
  color: #333333;
  font-weight: 700;
  text-transform: uppercase;
}
.subtotal-head span {
  color: #333333;
  font-weight: 500;
}
.shiping {
  padding: 25px 30px 13px 30px;
}
.shiping span {
  color: #333333;
}
.shiping-type {
  padding: 5px 30px;
  font-size: 14px;
  color: #333333;
}
.shiping-type span {
  color: #999999;
  font-weight: 300;
}
.total-all label {
  color: #333333;
  font-weight: 700;
}
.total-all span {
  color: #333333;
  font-weight: 500;
}
.total-all {
  padding: 18px 30px 22px 30px;
}
.total-border {
  border-top: 1px solid #c9c9c9;
  padding: 25px 0px 0px 0px;
}
.your-order .btn {
  font-size: 18px;
  width: 100%;
  margin-top: 30px;
}
.checkout-sub {
  font-size: 16px;
  color: #363535;
  font-weight: 600;
  margin-top: 28px;
}
.order-note {
  border: 1px solid #ebebeb;
  padding: 20px 25px;
  margin-top: 15px;
}
.order-note-text {
  font-size: 14px;
  color: #b3b2b2;
  font-weight: 300;
  margin-bottom: 0;
}
.shiping-detail {
  padding-top: 60px;
}

/*_______________________________________________________
// WISHLIST PAGE  //----------------------------
_________________________________________________________*/
.responsive-table {
  overflow-x: auto;
}
table.border {
  border-color: #e5e5e5 !important;
  min-width: 800px;
}
table.border td,
table.border th {
  border-right: 1px solid #e5e5e5;
  vertical-align: middle;
}
table.border td {
  color: #979797;
}
.close-table {
  background: #f22a59;
  width: 15px;
  height: 15px;
  line-height: 14px;
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  color: #fff;
  font-size: 12px;
  position: relative;
  top: -2px;
  margin-left: 20px;
}
table.border .product-name {
  display: inline-block;
}
table.border .price {
  font-size: 18px;
  color: #979797;
  font-weight: 700;
}
table.border .btn {
  padding: 14px 36px;
  font-size: 14px;
}
table.border .btn:before {
  content: unset;
}
table.border .btn:hover {
  background: #000;
}
table.border .btn img {
  width: 20px;
  position: relative;
  top: -3px;
  margin-right: 5px;
}
.share-wishlist {
  text-align: right;
}
.share-wishlist .btn {
  padding: 12px 10px;
  margin-top: 10px;
}

/*_______________________________________________________
// CONTACT PAGE  //----------------------------
_________________________________________________________*/
.add-map {
  filter: grayscale(100%);
}
.add-map iframe {
  height: 700px;
}
.contact-box ul {
  max-width: 370px;
}
.contact-box ul li {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.contact-box ul li .contact-thumb {
  float: left;
  margin-right: 10px;
}
.contact-box .contact-box-detail {
  margin-left: 35px;
}
.contact-box .contact-title {
  font-size: 18px;
  margin-bottom: 0;
}
.contact-box .contact-box-detail p,
.contact-box .contact-box-detail a {
  margin: 0px;
  font-size: 14px;
  color: #333333;
  font-weight: 300;
}
.contact-head {
  font-size: 24px;
  margin-bottom: 25px;
}
.contact-form-detail textarea.form-control {
  height: 190px;
  padding: 15px 15px;
}
.contact-form-detail .btn {
  padding: 12px 25px;
}

/*_______________________________________________________
// Blog Left PAGE  //----------------------------
_________________________________________________________*/
.blog-sidebar {
  border: 1px solid #e5e5e5;
  padding: 25px 30px;
}
.blog-categories {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
  margin-bottom: 25px;
}
.blog-categories:last-child {
  border-bottom: unset;
  padding-bottom: 0;
  margin-bottom: 0;
}
.blog-sidebar-title {
  font-size: 16px;
  margin-bottom: 20px;
}
.Categories-blog li {
  padding: 5px 0px;
}
.Categories-blog li:first-child {
  padding-top: 0;
}
.Categories-blog li:last-child {
  padding-bottom: 0;
}
.Categories-blog li a {
  font-size: 14px;
}
.Categories-blog li a:hover {
  color: #000;
}
.recent-blog-box {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 25px;
}
.recent-blog-box:last-child {
  margin-bottom: 0;
}
.recent-img {
  width: 100px;
  float: left;
  overflow: hidden;
}
.recent-img img {
  transition: all 400ms ease;
}
.recent-img:hover img {
  transform: scale(1.1);
}
.recent-des {
  width: calc(100% - 100px);
  float: left;
  padding-left: 10px;
}
.blog-right .latest-blog-img img {
  width: 100%;
  object-fit: cover;
  min-height: 340px;
  max-height: 340px;
}
.blog-name {
  font-size: 16px;
  color: #2d3031;
  font-weight: 700;
  text-transform: uppercase;
}
.recent-des p {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tags {
  margin: 0px -3px;
}
.tags li {
  display: inline-block;
  padding: 5px 3px;
}
.tags li a {
  background: #f5f5f5;
  display: block;
  padding: 5px 20px;
  font-size: 14px;
  color: #2d3031;
}
.tags li a:hover {
  background: #000;
  color: #fff;
}

/*_______________________________________________________
// Blog Detail PAGE  //----------------------------
_________________________________________________________*/
.blog-detail-img {
  margin-bottom: 30px;
}
.blog-detail-img img {
  max-height: 700px;
  width: 100%;
  object-fit: cover;
}
blockquote {
  padding: 5px 0px 5px 60px;
  font-size: 18px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0;
  position: relative;
}
blockquote:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 45px;
  width: 1px;
  height: 100%;
  background: #f22a59;
  font-size: 18px;
}
.blog-detail-contain ul li {
  display: inline-block;
}
.blog-detail-contain ul li a {
  background: #e0e0e0;
  color: #999;
  text-align: center;
  height: 32px;
  width: 32px;
  font-size: 15px;
  margin: 0px 2px;
  padding: 8px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  display: inline-block;
  line-height: 16px;
}
.blog-detail-contain ul li a:hover {
  background: #000;
  color: #fff;
}
.blog-detail-part .line {
  height: 1px;
  width: 100%;
  background-color: #ddd;
  clear: both;
  margin: 20px 0;
  display: inline-block;
}
.blog-detail-contain span {
  color: #2d3031;
  display: block;
  margin: 0;
  font-size: 14px;
  margin-bottom: 8px;
}
.blog-detail-contain h2 {
  color: #2d3031;
  display: block;
  font-weight: 700;
  font-size: 24px;
}
.blog-detail-contain p {
  font-size: 16px;
  color: #999999;
  font-weight: 300;
  padding-top: 8px;
  max-height: unset;
  overflow: unset;
  line-height: 26px;
}

/*_______________________________________________________
// Cart PAGE  //----------------------------
_________________________________________________________*/
select.quantity_cart {
  background: url(../images/select-icon.png) no-repeat scroll right 50% #fff !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #e5e5e5;
  padding: 8px 24px 8px 5px;
  line-height: 22px;
}
table.border td ul li {
  display: inline-block;
  padding: 0px 2px;
}
table.border td ul li a {
  background: #2d3031;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  font-size: 20px;
}
table.border td ul li a:hover {
  background: #000;
}
.share-wishlist.shoping-con {
  text-align: left;
}
.estimate {
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  padding-top: 25px;
}
.payable {
  color: #212529 !important;
}
.cart-total-table table.border td,
.cart-total-table table.border th {
  border-right: 0;
}
.cart-total-table table.border {
  min-width: unset;
}
.cart-total-table table.border .price {
  color: #212529;
}

/*--------- About us PAGE ---------*/
.about-title {
  font-size: 35px;
  margin-bottom: 10px;
}
.about-des:last-child {
  margin-bottom: 0;
}

/*--------- 404 Error PAGE ----------*/
.error-part .main-text {
  color: #aaa;
  font-size: 200px;
  line-height: 200px;
  font-weight: 700;
}

/*-------- Login Page ---------*/
.login .billing-details {
  max-width: 600px;
  margin: 0 auto;
}
.login-btn-g .btn {
  padding: 10px 25px;
}
.login-btn-g {
  border-bottom: 1px solid #ced4da;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.login-btn-g .check-box {
  padding-top: 8px;
}
.forgot-password {
  color: #f22a59;
  font-weight: 500;
}
.new-account .link {
  color: #f22a59;
  font-weight: 500;
}
.new-account .link:hover {
  color: #979797;
}

/*----------- Top Scrolling Style -------------*/
.top-scrolling {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
}
.top-scrolling.sticky {
  opacity: 1;
  visibility: visible;
}
.top-scrolling a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #363535;
  border-radius: 100%;
  color: #fff;
  font-size: 30px;
}
.top-scrolling a:hover {
  background: #000;
}

/*----------- Footer Style -------------*/
.footer-inner {
  display: flex;
  justify-content: space-between;
  margin: 0px -15px;
}
.footer-box {
  padding: 0px 15px;
}
.footer-static .opener {
  display: none;
}
.footer-desc {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
  max-width: 330px;
  padding-top: 10px;
  margin-bottom: 0;
}
.footer-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-box ul li a {
  font-size: 14px;
  color: #999999;
  font-weight: 300;
}
.footer-box ul li a:hover {
  color: #2d3031;
  text-decoration: underline;
}
.footer-contact li {
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.footer-contact li:last-child {
  padding-bottom: 0;
}
.footer-contact a {
  width: calc(100% - 26px);
  float: left;
  padding-left: 10px;
}
.footer-contact ul li a {
  text-decoration: unset !important;
}
.footer-contact img {
  width: 26px;
  float: left;
}
.footer-box ul li span {
  width: calc(100% - 26px);
  float: left;
  padding-left: 10px;
}
.copy-right {
  border-top: 1px solid #dfdfdf;
  padding: 27px 0px;
}
.copyright-text {
  font-size: 14px;
  color: #2a2b2c;
  margin-bottom: 0;
  padding-top: 10px;
}
.copyright-text a {
  color: #979797;
}
.copyright-text a:hover {
  color: #2a2b2c;
  text-decoration: underline;
}
.copy-right ul {
  text-align: right;
}
.copy-right ul li {
  display: inline-block;
  padding-left: 8px;
}
.copy-right ul li a {
  background: #e0e0e0;
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 100%;
}
.copy-right ul li a:hover {
  color: #fff;
  background: #2d3031;
}
